<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
        content="PhoneComparator will help you find out the best phone and buy it with a cheap price from the most popular store." />
    <meta name="keywords" content="cell phones, smartphoes, compare, comparison, smartphones, compara mobile, phone specifications"/>
    <meta name="author" content="" />
    <!--Facebook open Graph balises-->
    <meta property="og:url" content="http://phonecomparator.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Phone Comparator - Find, compare and buy the best phone !" />
    <meta property="og:description"
        content="PhoneComparator will help you find out the best phone and buy it with a cheap price from the most popular store." />
    <meta property="og:image" content="https://phonecomparator.com/img/compareSmartPhone-facebook.png" />
    <meta property="fb:app_id" content="508584169716461" />
    <title>Phone Comparator - Find, compare and buy the best phone !</title>
    <!--Shorcut Icon Phone Comparator -->
    <link rel="shortcut icon" href="img/icon.png" />
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap select CSS -->
    <link href="/css/bootstrap/bootstrap-select.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="/css/all.min.css" rel="stylesheet" type="text/css" />
    <!-- family=Montserrat:400,700 -->
    <link href="/css/fontFamilyMontserrat.css" rel="stylesheet" type="text/css" />
    <!-- family=Lato:400,700,400italic,700italic -->
    <link href="/css/fontFamilyLato.css" rel="stylesheet" type="text/css" />
    <!-- Plugin CSS -->
    <link href="/css/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="/css/phoneComparator.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148747310-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-148747310-1');
    </script>
</head>
