
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Phone Comparator - Find, compare and buy the best phone !</title>
  </head>
  <body>
    {{ message }}
  </body>
</html>